.message {
    margin: 0.5rem;
    max-width: 45%;
    width: fit-content;
    padding: 1rem;
    border-radius: 10px;
    color: black;
}

.me__color__message {
    background: #4ada80;
}

.you__color__message {
    background: white;
}

.you__message {
    text-align: -webkit-left;
}

.me__message {
    text-align: -webkit-right;
}