.listChat {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 85vw;
    height: 93vh;
    margin: 2rem auto;
    background: white;
}

.infoNameChat {
    display: flex;
    justify-content: flex-start;
}

.infoNameChat__text {
    margin-left: 1rem;
    color: grey;
}

.infoNameChat__item {
    border: 1px #787878 solid;
    border-radius: 5px;
}